<%- include ('../partials/head') %>
<%- include ('../partials/header') %>

<main>
  <div class="container">
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="username" class="form-control" id="username" name="username" />
            
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" />
            
        <button type="submit" class="btn btn-primary">Login</button>
           
        <p>To create account:
          <a class="nav-link" href = "../register">Register</a>
        </p>
      </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>