<%- include ('../partials/head') %>
<%- include ('../partials/header') %>

<main>
  <div class="container">
    <form action="/register" method="POST">
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="username" class="form-control" id="username" name="username" />
        
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" />

        <label for="first_name" class="form-label">First Name:</label>
        <input type="first_name" class="form-control" id="first_name" name="first_name" />

        <label for="last_name" class="form-label">Last Name:</label>
        <input type="last_name" class="form-control" id="last_name" name="last_name" />
        <button type="submit" class="btn btn-primary">Register</button>
           
        <p>To login to existing account:
          <a class="nav-link" href = "../login">Login</a>
        </p>
      </div>
    </form>
  </div>
</main>
<%- include ('../partials/footer') %>
